node_modules
dist
coverage
data
!src/data
!tests/data
.vscode
globalConfig.json
build
.env*

# Terraform

terraform-test
*.tfstate
*.tfstate.*.backup
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
terraform.tfstate.backup
terraform.tfvars.json
.terraform*
